<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

</head>

<body ng-app="app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 well" ng-controller="MainController" ng-init="todos = [];">
        <h1>AngularJS </h1>
        <h1>http://codepen.io/aweCodeMan/pen/reYxmj</h1>
        
        
        <div ng-repeat="todo in todos track by $index">
          <input type="checkbox" ng-model="todo.isCompleted" />

          <p>{{ $index + ". " + todo.body }}</p>
        </div>
        
        <p>newTodo:</p>
        <pre>{{ newTodo }}</pre>

        <p>Taski:</p>
        <pre>{{ todos }}</pre>
        
        
        
        <input type="text" ng-model="newTodo.body" />
        <button class="btn btn-primary" ng-click="addTodo(newTodo)">Dodaj</button>

        


      </div>


    </div>
  </div>
</body>

</html>