<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
</head>

<body ng-app="app">
  <div class="container well">
    <div class="row">
      <div class="col-xs-12">
        
        <h2>http://codepen.io/aweCodeMan/pen/RaMBaX</h2>
        <p>$rootScope</p>
        
        <input type="text" ng-model="data" class="form-control" />
        
        <div class="well" ng-controller="FirstController">
          <p>FirstController ($scope)</p>
          <pre>data: {{ data }}</pre>
<input type="text" ng-model="data" class="form-control" />
          <pre>Factory: {{ factory }}</pre>
          
          <div class="well" ng-controller="SecondController">
            <p>SecondController ($scope)</p>
            <pre>data: {{ data }}</pre>
<input type="text" ng-model="data" class="form-control" />
            <div class="well" ng-controller="ThirdController">
              <p>ThirdController ($scope)</p>
              <pre>data: {{ data }}</pre>
              <input type="text" ng-model="data" class="form-control" />
            </div>
          </div>

        </div>

        <div class="well" ng-controller="FourthController">
          <p>FourthController ($scope)</p>
          <pre>data: {{ data }}</pre>
          <input type="text" ng-model="factory.data" class="form-control" />
          
          <pre>Factory: {{ factory }}</pre>
        </div>

      </div>

    </div>
  </div>
</body>

</html>
