<html>
<head><title>AngularJS</title>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script>

/*

Naloga:

Naloga: Spletni obrazec d.o.o (35min)
Podjetje Spletni obrazec d.o.o. potrebuje pomoč. Gradijo blog in potrebujejo nekaj direktiv, ki bodo uporabnikom olajšale pisanje prispevkov:

Direktiva, ki bo izpisala število znakov, ki jih je uporabnik vnesel v vnosno polje.
Če je število znakov pod 10 naj bo izpis zelen, nad 10 pa rdeč.
Element direktivo, ki bo izpisala prijavo na newsletter (email vnosno polje ter gumb prijavi).
Direktivo, ki bo za atribut vzela številko med 1 in 12 in izpisala pripadajoči mesec.
Nalogo na koncu objavi na SmartNinja forumu - prav tako na forumu postavi vprašanje, če boš imel/a kakšne težave.
Povezava do foruma: https://groups.google.com/forum/#!forum/smartninja-slovenia.


 */

angular.module('app', []);

angular.module('app').controller('MainController', function($scope){
  
  $scope.person = 'Miha';
});



angular.module('app').directive('smPrestejZnakeInPobarvaj', function(){
  
  return {
    restrict: 'E',
    scope: {
      znakov: '@znakov',
      body: '@body'
    },
    template: '<p ng-class="{\'text-danger\': body.length <= znakov}" > Število: {{ body.length }} </p>'
  };
  
});

angular.module('app').directive('smPrestejZnakeInPobarvaj10', function(){
  
  return {
    restrict: 'A',
    scope: {
      znakov: '@znakov',
      body: '@body'
    },
    template: 'nekaj novega '
  };
  
});

</script>
</head>
<body ng-app="app">
  <div class="container">

      <div ng-controller="MainController">
        
      <form>
 
            <pre>
                  {{ body }}
            </pre>
            
            Vnesi besedilo:
            <input type="text" ng-model="body">
            
            <sm-prestej-znake-in-pobarvaj body="{{ body }}" znakov="10" >
                  
            </sm-prestej-znake-in-pobarvaj>
            
            
                        
            Vnesi besedilo 10:
            <input type="text" ng-model="body2" sm-prestej-znake-in-pobarvaj-10 znakov="10" body="{{ body2 }}">
            
            
      </form>
        
        
      </div>
        
  </div>
</body>
</html>