
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Prikaži meni</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">eShop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Začetek <span class="sr-only">(current)</span></a></li>
        
        <li><a ui-sref="kategorije">Kategorije</a></li>
        <li><a ui-sref="produkti">Produkti</a></li>
        
        <li><a ui-sref="kategorija({ime: 'new'})">Novosti</a></li>
        <li><a ui-sref="produkt({id: '100'})">Izdelek dneva</a></li>        

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Iskanje">
        </div>
        <button type="submit" class="btn btn-default">Najdi</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pomoč <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="pomoc.faq">FAQ</a></li>
            <li><a ui-sref="pomoc.terms">Pogoji poslovanja</a></li>
            <li><a ui-sref="pomoc.map">Kje smo</a></li>
            <li><a ui-sref="pomoc.contact">Kontakt</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
