<h3>Nakup</h3>

<form role="form" ng-model="user">
 <div class="form-group">
   <label for="ime_priimek">Ime:</label>
   <input type="ime_priimek" class="form-control" id="ime_priimek" ng-model="user.firstName">
 </div>
 <div class="form-group">
   <label for="priimek">Priimek:</label>
   <input type="ime_priimek" class="form-control" id="ime_priimek" ng-model="user.lastName">
 </div> 
 

 <div class="form-group">
   <label for="ulica">Naslov:</label>
   <input type="ulica" class="form-control" id="ulica" ng-model="user.address">
 </div>
 
 <div class="form-group">
   <label for="kraj">Poštna številka:</label>
   <input type="kraj" class="form-control" id="kraj" ng-model="user.zip">
 </div>
 
 <div class="form-group">
   <label for="kraj">Kraj:</label>
   <input type="kraj" class="form-control" id="kraj" ng-model="user.city">
 </div> 
 <div class="form-group">
   <label for="drzava">Država:</label>
   <input type="drzava" class="form-control" id="drzava" ng-model="user.country">
 </div> 
 
 <button type="submit" class="btn btn-default" ng-click="doCheckout()">Oddaja naročila</button>
 
 <br/><br/>
  <button type="submit" class="btn btn-default" ng-click="loadData()">Naloži iz lockerja</button>
  <button type="submit" class="btn btn-default" ng-click="clearData()">Zbriši podatke</button>
</form>
